        html {
              scroll-behavior: smooth;
             }
        header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 5%; 
                background-color:rgb(186, 11, 239);
                color:rgb(247, 247, 247);
           }
        h1{
            justify-content: flex-start;
        }
        nav ul li a {
            text-decoration: none; 
            color: inherit;        
            font-weight: bold;
           }
           nav ul li a:hover {
                 opacity: 0.7; 
             }
        ul{
            justify-content: flex-end;
            display: flex;
            gap: 25px;
            list-style: none;
        }
        .hero-section{
            text-align: center;
            padding: 100px 5%;
            background-color: rgb(186, 11, 239);
            color:rgb(247, 247, 247) ;
        }
        .hero-section h2{
            font-size: 3rem;
            margin-bottom: 10px;
        }
       .hero-section {
    position: relative;
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
    
    
    background: linear-gradient(rgba(186, 11, 239, 0.8), rgba(186, 11, 239, 0.8)), 
                url('https://thumbs.dreamstime.com/b/flat-cybersecurity-background-illustration-man-behind-desk-cyber-security-guard-working-his-computer-secure-data-335258890.jpg');
    
    background-size: cover;     
    background-position: center; 
    background-attachment: fixed; 
    color: white;
}

.hero-content {
    max-width: 800px;
    z-index: 2; 
}
        .hero-section p {
           font-size: 1.2rem;
           max-width: 600px; 
           margin: 0 auto 20px; 
           line-height: 1.5;
        }

        button {
          background-color: black; 
          color: white;
          padding: 12px 25px;
          border: none;
          border-radius: 30px; 
          font-weight: bold;
           cursor: pointer;
        }

        button:hover {
           background-color: #333; 
        }
        .features{
            display:flex;
            justify-content: center;
            gap:40px;
            padding: 100px 5% ;
            background:linear-gradient(180deg, #be24f2 0%, #ffffff 100%);

        }
        .feature-img {
    width: 80px;         
    height: 80px;
    margin-bottom: 20px; 
    display: block;     
    margin-left: auto;   
    margin-right: auto;
    filter: drop-shadow(0 5px 10px rgba(186, 11, 239, 0.3)); 
    transition: transform 0.3s ease;
}

        .feature-box{
            background: rgba(186, 11, 239, 0.05); 
            backdrop-filter: blur(10px);          
            border: 1px solid rgba(186, 11, 239, 0.2);
            padding: 40px 25px;
            width: 280px;
            border-radius: 20px;
            color: rgb(30, 28, 28);
            transition: 0.4s ease;
            position: relative;
            overflow: hidden;
        }
        .box-number{
            position: absolute;
            top: -10px;
            right: 10px;
            font-size: 4rem;
            font-weight: 800;
            color:rgba(0, 0, 0, 0.05);
            z-index: 0;

        }
        .feature-box h3, .feature-box p {
               position: relative;
                z-index: 1;}
        .feature-box:hover {
                transform: translateY(-15px); 
                background: rgba(255, 255, 255, 0.4); 
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); 
            }
            .about-section {
                  padding: 100px 8%;
                  background-color: #ffffff;
                   }

            .about-container {
                   display: flex;
                   align-items: center;
                   gap: 80px;
                   }

            .about-image {
                    flex: 1;
                    }

            .about-image img {
                    width: 100%;
                    max-width: 500px;
                    filter: drop-shadow(0 15px 30px rgba(186, 11, 239, 0.1));
                     }

            .about-text {
                     flex: 1;
                       }

            .about-text span {
                     color: rgb(186, 11, 239);
                      font-weight: bold;
                      letter-spacing: 2px;
                     font-size: 0.9rem;
                    }

            .about-text h2 {
                        font-size: 2.5rem;
                        margin: 15px 0;
                        color: #1a1a1a;
                        line-height: 1.2;
                      }

           .about-text p {
            color: #555;
            margin-bottom: 20px;
             line-height: 1.8;
             }

            .secondary-btn {
                 background-color: transparent;
                 border: 2px solid rgb(186, 11, 239);
                 color: rgb(186, 11, 239);
                 padding: 10px 25px;
                 border-radius: 5px;
                 transition: 0.3s;
                }

            .secondary-btn:hover {
                  background-color: rgb(186, 11, 239);
                  color: white;
                  }
                  .img img {
                    width: 80%;             
                    max-width: 750px;        
                    height: auto;           
                    border-radius: 15px;     
                    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
                  }
                  
                  .img-text-section {
                   padding: 80px 10%;
                   background-color: #fcfcfc;
                     }

                   .img-text-container {
                    display: flex;
                    align-items: center; 
                      gap: 60px;         
                         }


                  .side-img {
                   flex: 1;
                        }

                   .side-img img {
                    width: 100%;
                      max-width: 500px;  
                       height: auto;
                       border-radius: 15px;
                        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
                     }


                  .side-content {
                   flex: 1;
                  }

               .side-content h2 {
                 font-size: 2.5rem;
                 color: #1a1a1a;
                 margin-bottom: 20px;
                      }

                    .side-content p {
                       font-size: 1.1rem;
                        color: #555;
                      margin-bottom: 20px;
                      line-height: 1.6;
                     }


                 .check-list {
                  list-style: none;
                   padding: 0;
                    }

               .check-list li {
                   margin-bottom: 10px;
                   font-weight: bold;
                     color: rgb(186, 11, 239); 
                  }

              .check-list li::before {
               content: "✓ ";
                margin-right: 10px;
                 }
            footer{
                text-align: center;
                padding: 20px;
                background-color: #333;
                color: white;
            }

    
 
