   body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff5f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    }


  section{
    background: white;
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(255, 182, 193, 0.3);
    text-align: center;
    margin-bottom: 15px; 
     }

  h1{
    color: #ff85a2;
   }
  label {
    display: block;
    color: #d63384;
    font-weight: bold;
    margin: 10px 0 5px;
    }

  input {
    width: 80%;
    padding: 10px;
    border: 2px solid #ffe4e9;
    border-radius: 12px;
    outline: none;
    margin-bottom: 10px;
    }

  input:focus {
    border-color: #ff85a2;
    }

  button {
    background-color: #ff85a2;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    }

  button:hover {
    background-color: #f76c8e;
    }


  #result {
    margin: 0;
    font-size: 1.5rem;
    color: #d63384;
    font-weight: bold;
    }
